<div class="header">
    <div class="logo">
        <div class="logo_img">
            <a href="index.html">
                <img [src]="itemImageUrl" alt="Logo">
            </a>
        </div>
        <div class="text">
            <p>{{cutter}}</p>
        </div>
        <div class="support">
            <p><strong>Support (24/7) : {{mobileNumber}} </strong></p>
            <span class="btn btn-mini">[ 2 ] <span class="icon-shopping-cart"></span></span>
            <span class="btn btn-warning btn-mini">$</span>
            <span class="btn btn-mini">&pound;</span>
            <span class="btn btn-mini">&euro;</span>
        </div>
    </div>
    <div class="nav_home">
        <div class="nav">
            <ul>
                <li *ngFor= "let navlink of navLinks" ><a href="{{navlink.path}}">{{navlink.desc}}</a></li>
            </ul>
        </div>
        <div class="form">    
            <form action="">
                <label for="search"></label>
                <input type="search" name="search" id="search" placeholder="Search"/>
            </form>
        </div>
        <div class="login">Login</div>
    </div>
</div>