<div class="content2">
    <div class="content2_col3">
        <h3>Featured products</h3>
        <div class="viewmore">
            <a href="#"><button class="btn btn_more">Viewmore+</button></a>
        </div>
        <div class="col3">
            <div class="col3_img1">
                <div class="img2"><img  src="assets/img/s.png" alt="image"/></div>
                <div class="prd_details">
                    <p>Manicure & Pedicure</p>
                    <div class="btn_cart">
                        <a href="#" title="Click to view"><button class="btn btn_sym">@</button></a>
                        <a href="#" title="Add to cart"><button class="btn btn_sym">+</button></a>
                        <p><strong>$22.00</strong></p>
                    </div>
                </div>
            </div>
            <div class="col3_img1">
                <div class="img2"><img  src="assets/img/i.jpg" alt="image"/></div>
                <div class="prd_details">
                    <p>Manicure & Pedicure</p>
                    <div class="btn_cart">
                        <a href="#" title="Click to view"><button class="btn btn_sym">@</button></a>
                        <a href="#" title="Add to cart"><button class="btn btn_sym">+</button></a>
                        <p><strong>$22.00</strong></p>
                    </div>
                    
                </div>
            </div>
            <div class="col3_img1">
                <div class="img2"><img  src="assets/img/j.jpg" alt="image"/></div>
                <div class="prd_details">
                    <p>Manicure & Pedicure</p>
                    <div class="btn_cart">
                        <a href="#" title="Click to view"><button class="btn btn_sym">@</button></a>
                        <a href="#" title="Add to cart"><button class="btn btn_sym">+</button></a>
                        <p><strong>$22.00</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content2">
    <div class="content2_col3">
        <h3>popular products</h3>
        <div class="viewmore">
            <a href="#"><button class="btn btn_more">Viewmore+</button></a>
        </div>
    </div>
</div>
<div class="content2">
    <div class="content2_col3">
        <h3>Best selling products</h3>
        <div class="viewmore">
            <a href="#"><button class="btn btn_more">Viewmore+</button></a>
        </div>
    </div>
</div>         
