<div class="clear">
    <div class="new_prd">
            <div class="new_prdh">
                <h3 class="new_border">New Products</h3>
                <div class="new_imgprd">
                    <a href="#"><img src="assets/img/e.jpg" alt="bangle"></a>
                    <a href="#"><img src="assets/img/f.jpg" alt="bangle"></a>
                    <a href="#"><img src="assets/img/g.jpg" alt="bangle"></a>
                    <a href="#"><img src="assets/img/h.jpg" alt="bangle"></a>
                </div>
            </div>
        <div class="col3">
            <div class="col3_img1">
                <div class="img2"><img  src="assets/img/a.jpg" alt="image"/>
                    <div class="prd_details">
                        <p>Manicure & Pedicure</p>
                        <p><strong>$22.00</strong></p>
                        <a href="#"><button class="btn btn_add">Add to Cart</button></a>
                        <div class="cart_links">
                            <p><a href="#">Add to wish list</a></p>
                            <p><a href="#">Add to compare</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col3_img1">
                <div class="img2"><img  src="assets/img/b.jpg" alt="image"/></div>
                <div class="prd_details">
                    <p>Manicure & Pedicure</p>
                    <p><strong>$22.00</strong></p>
                    <a href="#"><button class="btn btn_add">Add to Cart</button></a>
                    <div class="cart_links">
                        <p><a href="#">Add to wish list</a></p>
                        <p><a href="#">Add to compare</a></p>
                    </div>
                </div>
            </div>
            <div class="col3_img1">
                <div class="img2"><img  src="assets/img/c.jpg" alt="image"/></div>
                <div class="prd_details">
                    <p>Manicure & Pedicure</p>
                    <p><strong>$22.00</strong></p>
                    <a href="#"><button class="btn btn_add">Add to Cart</button></a>
                    <div class="cart_links">
                        <p><a href="#">Add to wish list</a></p>
                        <p><a href="#">Add to compare</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>