<div class="main_content">
<div class="aside">
    <div class="links">
        <div class="side_links">
            <ul>
                <li *ngFor="let sideBarLink of sideBarLinks"><a href="{{sideBarLink.path}}">{{sideBarLink.desc}}</a></li>
                </ul>
            <div class="btn_total">
                <a href="#"><h4>Total amount</h4>
                </a>
                <div class="cls_btn"><button class="btn">$428.00</button></div>
            </div>
        </div>
    </div>
    <div class="clear">
        <div class="offer">
            <div class="offer_dis">
                <h3>50% Discount</h3>
                <p>only valid for online order</p>
                
                <button class="btn btn_offer">Click here</button>
                
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="acc_cards">
            <img src="assets/img/paypal.jpg" alt="cards"/>
        </div>
    </div>
    <div class="up_p">
        <div class="up_prd">
            <h3><a href="#">Upcoming products</a></h3>
                <button class="btn btn_prd">Click to view</button>
        </div>
    </div>
    <div class="quickview">
        <div class="quickimg1">
            <img src="assets/img/bootstrap-ecommerce-templates.PNG" alt="image">
            <div class="quicktotal">
                <div class="btn_total1">
                    <button class="btn btn_view">View</button>
                    <p>$22.00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="quickview">
        <div class="quickimg1">
            <img src="assets/img/bootstrap-template.png" alt="image">
            <div class="quicktotal">
                <div class="btn_total1">
                    <button class="btn btn_view">View</button>
                    <p>$22.00</p>
                </div>
                
            </div>
        </div>
    </div>

</div>
</div>