<div class="main_content">
<div class="aside">
    <div class="links">
        <div class="side_links">
            <ul>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Watches</a></li>
                <li><a href="#">Fine Jewelry</a></li>
                <li><a href="#">Fashion Jewelry</a></li>
                <li><a href="#">Engagement & Wedding</a></li>
                <li><a href="#">Men's Jewelry</a></li>
                <li><a href="#">Vintage & Antique</a></li>
                <li><a href="#">Loose Diamonds</a></li>
                <li><a href="#">Loose Beads</a></li>
                <li><a href="#">See All Jewelry & Watches</a></li>
            </ul>
            <div class="btn_total">
                <a href="#"><h4>Total amount</h4>
                </a>
                <div class="cls_btn"><button class="btn">$428.00</button></div>
            </div>
        </div>
    </div>
    <div class="clear">
        <div class="offer">
            <div class="offer_dis">
                <h3>50% Discount</h3>
                <p>only valid for online order</p>
                
                <button class="btn btn_offer">Click here</button>
                
            </div>
        </div>
    </div>
    <div class="cards">
        <div class="acc_cards">
            <img src="assets/img/paypal.jpg" alt="cards"/>
        </div>
    </div>
    <div class="up_p">
        <div class="up_prd">
            <h3><a href="#">Upcoming products</a></h3>
                <button class="btn btn_prd">Click to view</button>
        </div>
    </div>
    <div class="quickview">
        <div class="quickimg1">
            <img src="assets/img/bootstrap-ecommerce-templates.PNG" alt="image">
            <div class="quicktotal">
                <div class="btn_total1">
                    <button class="btn btn_view">View</button>
                    <p>$22.00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="quickview">
        <div class="quickimg1">
            <img src="assets/img/bootstrap-template.png" alt="image">
            <div class="quicktotal">
                <div class="btn_total1">
                    <button class="btn btn_view">View</button>
                    <p>$22.00</p>
                </div>
                
            </div>
        </div>
    </div>

</div>
<div class="body_content">
    <div class="content_title">
        <div class="banner_img">

        
        <div class="cls">
            <h2>BOOTSTARP SHOPPING CART</h2>
            <p>who avoids a pain that produces no resultant pleasure</p>
            
        </div>
        </div>
    </div>
    <div class="clear">
        <div class="new_prd">
                <div class="new_prdh">
                    <h3 class="new_border">New Products</h3>
                    <div class="new_imgprd">
                        <a href="#"><img src="assets/img/e.jpg" alt="bangle"></a>
                        <a href="#"><img src="assets/img/f.jpg" alt="bangle"></a>
                        <a href="#"><img src="assets/img/g.jpg" alt="bangle"></a>
                        <a href="#"><img src="assets/img/h.jpg" alt="bangle"></a>
                    </div>
                </div>
            <div class="col3">
                <div class="col3_img1">
                    <div class="img2"><img  src="assets/img/a.jpg" alt="image"/>
                        <div class="prd_details">
                            <p>Manicure & Pedicure</p>
                            <p><strong>$22.00</strong></p>
                            <a href="#"><button class="btn btn_add">Add to Cart</button></a>
                            <div class="cart_links">
                                <p><a href="#">Add to wish list</a></p>
                                <p><a href="#">Add to compare</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col3_img1">
                    <div class="img2"><img  src="assets/img/b.jpg" alt="image"/></div>
                    <div class="prd_details">
                        <p>Manicure & Pedicure</p>
                        <p><strong>$22.00</strong></p>
                        <a href="#"><button class="btn btn_add">Add to Cart</button></a>
                        <div class="cart_links">
                            <p><a href="#">Add to wish list</a></p>
                            <p><a href="#">Add to compare</a></p>
                        </div>
                    </div>
                </div>
                <div class="col3_img1">
                    <div class="img2"><img  src="assets/img/c.jpg" alt="image"/></div>
                    <div class="prd_details">
                        <p>Manicure & Pedicure</p>
                        <p><strong>$22.00</strong></p>
                        <a href="#"><button class="btn btn_add">Add to Cart</button></a>
                        <div class="cart_links">
                            <p><a href="#">Add to wish list</a></p>
                            <p><a href="#">Add to compare</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="content2_col3">
            <h3>Featured products</h3>
            <div class="viewmore">
                <a href="#"><button class="btn btn_more">Viewmore+</button></a>
            </div>
            <div class="col3">
                <div class="col3_img1">
                    <div class="img2"><img  src="assets/img/s.png" alt="image"/></div>
                    <div class="prd_details">
                        <p>Manicure & Pedicure</p>
                        <div class="btn_cart">
                            <a href="#" title="Click to view"><button class="btn btn_sym">@</button></a>
                            <a href="#" title="Add to cart"><button class="btn btn_sym">+</button></a>
                            <p><strong>$22.00</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col3_img1">
                    <div class="img2"><img  src="assets/img/i.jpg" alt="image"/></div>
                    <div class="prd_details">
                        <p>Manicure & Pedicure</p>
                        <div class="btn_cart">
                            <a href="#" title="Click to view"><button class="btn btn_sym">@</button></a>
                            <a href="#" title="Add to cart"><button class="btn btn_sym">+</button></a>
                            <p><strong>$22.00</strong></p>
                        </div>
                        
                    </div>
                </div>
                <div class="col3_img1">
                    <div class="img2"><img  src="assets/img/j.jpg" alt="image"/></div>
                    <div class="prd_details">
                        <p>Manicure & Pedicure</p>
                        <div class="btn_cart">
                            <a href="#" title="Click to view"><button class="btn btn_sym">@</button></a>
                            <a href="#" title="Add to cart"><button class="btn btn_sym">+</button></a>
                            <p><strong>$22.00</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="content2_col3">
            <h3>popular products</h3>
            <div class="viewmore">
                <a href="#"><button class="btn btn_more">Viewmore+</button></a>
            </div>
        </div>
    </div>
    <div class="content2">
        <div class="content2_col3">
            <h3>Best selling products</h3>
            <div class="viewmore">
                <a href="#"><button class="btn btn_more">Viewmore+</button></a>
            </div>
        </div>
    </div>         
</div>

</div>
<div class="main_content3">
<div class="main_content4">
    <div class="manufact">
        <h2>Manufactures</h2>
        <div class="main_img">
            <a href="#"><img src="assets/img/1.png" alt="image"></a>
            <a href="#"><img src="assets/img/2.png" alt="image"></a>
            <a href="#"><img src="assets/img/3.png" alt="image"></a>
            <a href="#"><img src="assets/img/4.png" alt="image"></a>
            <a href="#"><img src="assets/img/5.png" alt="image"></a>
            <a href="#"><img src="assets/img/6.png" alt="image"></a>
        </div>
    </div>
</div>