<div class="main_content">
<app-sidebar></app-sidebar>
<div class="body_content">
    <div class="content_title">
        <div class="banner_img">

        
        <div class="cls">
            <h2>BOOTSTARP SHOPPING CART</h2>
            <p>who avoids a pain that produces no resultant pleasure</p>
            
        </div>
        </div>
    </div>
    <app-new-products></app-new-products>
    <app-featured-products></app-featured-products>
</div>    
</div>   
<app-manufactures></app-manufactures>
